*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

header{
    height: 200px;
    width: 100%;
    background-color: cadetblue;
}

header h1{
   /* width: 100%; TODO: revist site to fit text to container
    width: 25.5vw;
    text-align: center;
    */
    text-align: center;
}