*{
    box-sizing: border-box;
}

/*----------------*/
/* tage selectors*/
/*----------------*/
html{
    font-family: sans-serif;
}

header{
    height: 200px;
    width: 100%;
    background-color: cadetblue;
}

header h1{
   /* width: 100%; TODO: revist site to fit text to container
    width: 25.5vw;
    text-align: center;
    */
    text-align: center;
    padding: 15px;
}
/*----------------*/
/* class selectors*/
/*----------------*/

.row::after{
    content: "";
    clear:both;
    display: table;
}
.col-1{
    
}
.col-2{

}
.col-3{


}
.side-info{

}

#page-title{

}